.desc{
    border-left: 1px solid royalblue;
    border-right: 1px solid royalblue;
    border-top: 5px solid royalblue;
}
.desc-left{
    border-right: 1px solid royalblue;
}
.variance{
    border-left: 1px solid royalblue;
    border-right: 1px solid royalblue;
    border-bottom: 1px solid royalblue;
}
.variance-info{
    border-right: 1px solid royalblue;
}