<div class="container">
    <hr style="border: 1px solid royalblue; height: 0px;">
    <div class="row">
        <div class="col-md-2">
            <p style="padding-left: 1rem;"><b>Name</b></p>
        </div>
        <div class="col-md-5">
            <p><b>Description</b></p>
        </div>
        <div class="col-md-3">
            <p><b>Image</b></p>
        </div>
        <div class="col-md-2">
            <p><b>Price Range (RM)</b></p>
        </div>
    </div>
    <hr style="border: 1px solid royalblue; height: 0px;">
</div>
<div class="container" *ngFor="let product of products">
    
    <div class="row">
        <div class="col-md-2">
            <a class="nav-link" [routerLink]="['/product-details', product.id]">
                {{ product.name }}
            </a>
        </div>
        <div class="col-md-5">
            <div class="prodDesc">
                {{ product.description }}
            </div>
        </div>
        <div class="col-md-3" >
            <a [routerLink]="['/product-details', product.id]">
                <img *ngIf="product.imagePath" [src]="product.imagePath" alt="product.name" style="width: 250px;"/>
            </a>
        </div>
        <div class="col-md-2" >
            <div *ngFor="let item of product.productVariance">
                <fa-icon [icon]="['fas', 'dollar-sign']"></fa-icon>
                RM {{ item.price }}
            </div>
        </div>
    </div>
</div>