<div class="wrap">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 ">
        <h3>Change Password</h3>
    </div>
    <br>
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 ">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="cpassword"><b>Current Password</b></label>
          <input type="password" id="cpassword" name="cpassword" formControlName="cpassword"
            class="form-control" placeholder="Please Enter Current Password">
            <fa-icon [icon]="['fas', 'lock']" class="fa-inputphd"></fa-icon>
            <div *ngIf="f.cpassword.touched && f.cpassword.invalid" class="fontred">
              <div *ngIf="f.cpassword.errors.required">Current Password is required.</div>
            </div>
        </div>
        <div class="form-group">
            <label for="npassword"><b>New Password</b></label>
            <input type="password" id="npassword" name="npassword" formControlName="npassword"
              class="form-control" placeholder="Please Enter New Password">
              <fa-icon [icon]="['fas', 'lock']" class="fa-inputphd"></fa-icon>
              <div *ngIf="f.npassword.touched && f.npassword.invalid" class="fontred">
                <div *ngIf="f.npassword.errors.required">New Password is required.</div>
              </div>
        </div>
        <div class="form-group">
            <label for="ncpassword"><b>Confirm New Password</b></label>
            <input type="password" id="ncpassword" name="ncpassword" formControlName="ncpassword"
              class="form-control" placeholder="Please Enter Confirm New Password">
              <fa-icon [icon]="['fas', 'lock']" class="fa-inputphd"></fa-icon>
              <div *ngIf="f.ncpassword.touched && f.ncpassword.invalid" class="fontred">
                <div *ngIf="f.ncpassword.errors.required">Confirm New Password is required.</div>
                <div *ngIf="f.ncpassword.errors.confirmedValidator">New Password and Confirm Password must be match.</div>
              </div>
        </div>
        <button style="float: right; width: 150px;" class="btn btn-danger" type="submit" [disabled]="!form.valid">Submit</button>
      </form>
    </div>
</div>
  