<div class="col-xs-12 col-sm-10 col-md-8 mx-auto">
    <h3 style="text-align: center;">Reset Password</h3>
    <form (ngSubmit)="onReset(f)" #f="ngForm">
      <div class="form-group">
        <label for="email"><b>Email</b></label>
        <input type="email" id="email" name="email" ngModel class="form-control"
         placeholder="Email" required email #email="ngModel">
         <fa-icon [icon]="['fas', 'envelope']" class="fa-inputphd"></fa-icon>
        <span class="help-block fontred" *ngIf="!email.valid && email.touched">Please enter a valid email !</span>
      </div>
      <div class="container nopadding">
        <div class="row">
          <div class="col nopadding">
            <a class="nav-link" routerLink="/account/login">
              Back to Login
            </a>
          </div>
          <div class="col">
            <button class="btn btn-danger" style="width: 150px; float: right;" 
            type="submit" [disabled]="!f.valid">Reset Password</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  