<ng-template #content let-modal>
  <div class="modal-header" style="border-bottom: transparent; background-color:royalblue;">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" style="background-color: royalblue; text-align: center; color: red;">
    <h1>WARNING</h1>
    <br><br>
  </div>
</ng-template>

<!-- <iframe width="100%" height="700px"  src="http://www.google.com/"></iframe> -->
<iframe width="100%" height="700px"  src="http://www.baidu.com/"></iframe>